<div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Никола Даниловић </h5>
      <p class="card-text">
        Email: danilovicn5@gmail.com
       </p>
      <p class="card-text">
        Password: sifra123
       </p>
      
      <form class="form-inline">
        <button class="btn btn-outline-success" type="button">Измени корисника</button>
        <button class="btn btn-outline-success" type="button">Обриши корисника</button>
      </form>
    </div>
</div>