<div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Београд-Рашка </h5>
      <p class="card-text">
        Возач: Никола Даниловић
       </p>
      <p class="card-text">
        Датум поласка: 18.06.2024.
       </p>
      <p class="card-text">
       Време поласка: 18:00
      </p>
      <p class="card-text">
        Mесто поласка: аутокоманда
       </p>
       <p class="card-text">
        Број слободних места је: 2
       </p>
       <p class="card-text">
        Цена по особи је: 700 динара 
       </p>
      <form class="form-inline">
        <button class="btn btn-outline-success" type="button">Пријави се за вожњу</button>
        <button class="btn btn-outline-success" type="button">Одјави се од вожње</button>
      </form>
    </div>
  </div>