<!DOCTYPE html>
<html>
    <head>
      <%- include('../partials/head.ejs') %> 
         <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <br>
        <h1>Login Возач и Администратор</h1>
        <div class="center">
            <img src="images/logo_car.png"
            style="width: 400px">
            
            <div class="center">
                <form class="form_block" >
                    <div class="form-group">
                      <label for="exampleInputEmail1">Корисничко име</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Унесите корисничко име" >
                     <br>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Лозинка</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Унесите лозинку">
                    </div>
                    <br>
                    
                    <button type="submit" class="btn btn-primary">Пријава</button>
                  </form>
                
            </div>
        </div>
    </body>
</html>