<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %> 
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <br>
  <h1>Login Возач и Администратор</h1>
  <div class="center">
    <img src="images/logo_car.png" style="width: 400px">
    <form action="/login" method="POST">
      <div class="center">
        <div class="form-group">
          <label for="usrname">Корисничко име</label>
          <input type="text" class="form-control" id="usrname" name="usrname"  placeholder="Унесите корисничко име" required>
          <br>
        </div>
        <div class="form-group">
          <label for="Password">Лозинка</label>
          <input type="password" class="form-control" id="Password" name="password" placeholder="Унесите лозинку" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Пријава</button>
      </div>
    </form>
  </div>
</body>
</html>
