<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %> 
        <link rel="stylesheet" href="css/aplikacija.css">
    </head>
    <body>
        <header>
            
          <nav class="navbar navbar-light" style="background-color: rgb(133, 235, 235);">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Возач</a>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <form action="/logoutva" method="GET">
                          <button class="btn btn-outline-success" type="button" data-bs-target="#exampleModal" data-bs-toggle="modal">Додај вожњу</button>
                          <button class="btn btn-outline-success" type="submit">Одјава</button>
                        </form>
                      </div>
                       
                </div>
            </nav>
           
        </header>
        <br>
        <br>
        <%- include('../partials/vvoznja.ejs') %> 
      
         

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Додавање нове вожње</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/add-voznja?vozac_id=<%= userid %>"  method="POST">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="startDestination" class="form-control" placeholder="Почетна дестинација" required>
                            </div>
                            <div class="col">
                                <input type="text" name="endDestination" class="form-control" placeholder="Крајња дестинација" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="departureLocation" class="form-control" placeholder="Место поласка" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="pricePerPerson" class="form-control" placeholder="Цена по особи (дин)" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="seats">Одаберите број слободних места</label>
                            <select class="form-control" id="seats" name="seats" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label for="date">Унесите датум поласка</label>
                                <input type="date" id="date" name="departureDate" required>
                            </div>
                            <div class="col">
                                <label for="time">Унесите време поласка</label>
                                <input type="time" id="time" name="departureTime" required>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Додај</button>
                    </form>
                </div>
            </div>
            
            </div>
        </div>




        
     




    </body>
</html>